$secondary-color: orange;
$base-font-family: "Work Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;

h1 {
  font-weight: 900 !important;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');@import "node_modules/spectre.css/src/spectre";
