
:root {
  --primary-color: rgb(29, 65, 99);
  --secondary-color: #3a6683;
}

body {
	margin: 0;
	font-family:  "Work Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-image: radial-gradient(27% 185%, #F9F6F1 0%, #D7D0C5 100%);
}

h1 {
  font-size: 2em;
  font-weight: 100;
}

a {
	color: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
//@import "node_modules/spectre.css/src/spectre";
