
:root {
  $base-font-family: "Work Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
  --primary-color: rgb(29, 65, 99);
  --secondary-color: #3a6683;
}
h1 {
  font-weight: 100 !important;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
//@import "node_modules/spectre.css/src/spectre";
